<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Buscar Mesa</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="closeFetchTableModal()">
        Fechar
      </button>
    </div>
  </ion-header-bar>
  <ion-content  scroll="false">
    <div class="padding">
      <h3>Olá!</h3>
      <h4>Iremos procurar uma mesa para você(s), por favor informe a quantidade de pessoas que te acompanham.</h4>
    </div>
    <form id="fetchTableForm" name="fetchTableForm" ng-submit="doFetchTable()">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Número de acompanhantes</span>
          <select ng-model="fetchTableData.acompanhantes">
            <option ng-repeat="n in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" value="{{n}}">
              {{n}}
            </option>
          </select>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">
            Confirmar
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
