<ion-view view-title="Home">
  <ion-content class="padding">
    <h1 style="text-align:center">Bem vindo ao <b>CPGQueue</b></h1>
    <h3>Esse aplicativo tem como alvo o gerenciamento de filas!</h3>
    <h4>O que desejas fazer hoje?</h4>
      <button class="button button-block button-positive" ng-click="newTable()">
        Cadastrar Mesa
      </button>
     <button class="button button-block button-calm" ng-click="seeTables()">
        Ver Mesas Cadastradas
      </button>
      <button class="button button-block button-royal" ng-click="seeUsers()">
        Ver Usuários
      </button>
  </ion-content>
</ion-view>
