<ion-view>
  <!-- <ion-header-bar class="bar-stable">
    <h1c class="title">CPGQueue</h1>
  </ion-header-bar> -->
  <ion-content class="padding">
  <br>
    <h1 style="text-align:center">Bem vindo ao <b>CPGQueue</b></h1>
    <h3>Esse aplicativo tem como alvo o gerenciamento de filas!</h3>
    <h4>Clique no botão "Login", para logar no sistema ou em "Cadastrar" para fazer o seu cadastro.</h4>
    <br/><br/>
      <button class="button button-block button-positive" ng-click="openLoginModal()">
        Login
      </button>
      <button class="button button-block button-balanced" ng-click="openSignUpModal()">
        Cadastrar
      </button>
    </div>
  </ion-content>
</ion-view>
